# Python
__pycache__/
*.pyc
.venv/
venv/

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/

# Android Studio
.idea/

# VS Code
.vscode/

# Logs
*.log

# Variables de entorno
.env

# Override local de docker-compose (p. ej. remapeo de puertos por maquina)
docker-compose.override.yml

# Base de datos local
*.db

# Archivos temporales
*.tmp